@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
}

.fa-list,
.fa-thumbtack {
  margin-right: 1rem;
}

.todo-container {
  margin: auto;
  margin-top: 5rem;
  padding: 2.5rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid gold;
  box-shadow: 0 20px 20px 4px;
  padding-top: 1rem;
}

.add-list {
  padding: 0 0.8rem;
  border: none;
  background: #fff;
  font-style: italic;
  margin: 0.8rem 0;
  width: 100%;
}

/* .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

input:focus {
  outline: none;
}

li {
  background: #000;
}

.task {
  display: flex;
  padding: 0 0.8rem;
  padding-right: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background: #fff;
  gap: 0.8rem;
  border-bottom: 1px solid rgb(17, 17, 16);
}

.task-text {
  font-weight: normal;
  font-size: 1.4rem;
  width: 100%;
  outline: none;
  border: none;
}

.deleteBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: #fff;
  cursor: pointer;
  margin-right: 0.5rem;
}

.deleteBtn:hover {
  color: red;
  font-size: 1.3rem;
  text-decoration: none;
}

.clear {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.8rem 0;
  color: rgb(109, 107, 107);
  background: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

.clear:hover {
  background: rgb(177, 187, 184);
  color: black;
}

.checkbox {
  cursor: pointer;
}

.list {
  height: 60vh;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.list::-webkit-scrollbar-thumb {
  background: #1e3b30;
  border-radius: 25px;
}

#task-form {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.add-btn {
  background: white;
  border: none;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
